@font-face {
    font-family: 'satoshi';
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
}

.barra-de-cima h1{
    margin: 0 0 0 45px;
}

/* Fonte principal do site (logo)*/
.logo{
    font-family: 'satoshi', sans-serif;
    font-size: 36px;
    line-height: 44px;
    text-decoration: none;
    font-weight: normal;
}

.nav-topo-itens li {
    padding: 0;
    margin: 0;
    color: black;
    display: inline;       /* Exibe os itens da lista na horizontal */
    margin-right: 50px;    /* Espaçamento entre os itens (p direita)*/
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}

#menu-topo{
    list-style-type: none; /* Remove os marcadores */
    margin-right:35px;
}

.nav-topo-itens li:hover{
    color: #6600b9;
    transition: 0.2s ease-in-out;
}

/* remove todos os links visitados como marcados com cor diferente*/
a:visited {
    color: inherit; 
}

/* box do menu principal do site*/
.barra-de-cima{
    display: flex;
    justify-content: space-between;
    background-color: #9990FF;
    width: 100%;
    height: 80px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

/* Style the search container */
.search-container {
    position: relative;
    width: 400px;
    height: 40px;
    padding-left: 60px;
  }

/* Style the search box */
#search {
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px 20px;
    font-family: "Roboto", sans-serif;;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/*muda a cor do texto de dentro qnd n escreve*/
#search::placeholder {
    color: #000000;
}

/* Style the search when typing sum */
#search:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    outline: none; /*tira a linha ao redor quando pesquisa*/
}

/* Style the search button */
button[type="submit"] {
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    background-color: #a8a8a8;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px; /* Position the button 10px from the right edge */
    top: 50%; /* Vertically center the button */
    transform: translateY(-50%); /* Vertically center the button */
}
  
/* Style the search button on hover */
button[type="submit"]:hover {
    background-color: #cecece;
    transition: background-color 0.2s ease-in-out;
}

#bg-tela-inicial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; /* para que a imagem fique atrás da barra de menu */
    background-image: url('./img/bg\ tela\ inicial.jpg');
    background-size: cover;
    background-position: center;
  }

